{% extends "base_generic.html" %}
{% load widget_tweaks %}


{% block content %}

<div class="row">

  <div class="text-center pt-2">
    {% if next %}
      {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
      {% else %}
        <p>Please login to see this page.</p>
      {% endif %}
    {% endif %}
  </div>

  <form class="col-md-6 offset-md-3" method="post" action="{% url 'login' %}">
    {% csrf_token %}

    {% for field in form %}
      <div class="form-group">
        <br>
        <label for="{{ form.subject.id_for_label }}">{{field.label_tag}}</label>
        {{ field|add_class:"form-control" }}
      </div>
    {% endfor %}

    {% if form.errors %}
    <br>
    <p class="text-center">Your username and password didn't match. Please try again.</p>
    {% endif %}

    <div class="row p-3">
      <button type="submit" class="btn btn-primary">Login</button>
      <input type="hidden" name="next" value="{{ next }}" />
    </div>

    {# Assumes you setup the password_reset view in your URLconf #}
    <p class="text-center"><a href="{% url 'password_reset' %}">Have you forgotten your password?</a></p>

  </form>

</div>
{% endblock %}

