{% extends "base_generic.html" %}
{% load static %}

{% block statics %}
<link rel="stylesheet" type="text/css" href="{% static 'css/partner.css' %}">
{% endblock statics %}


{% block content %}

<br>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-left">Create Partner</h1>
            <hr>
            <form action="" method="post">
                {% csrf_token %}

                {{form.as_p}}

                <input class="btn btn-outline-primary w-100" type="submit" value="Submit" />

            </form>
        </div>
    </div>
</div>

{% endblock %}


{% block script %}
    <script>
        let element_list = document.getElementsByTagName('input')
        for (let i = 0; i < element_list.length; i++) {
            if(element_list[i].type !== "hidden") {
                element_list[i].classList.add("form-control")
            }
        }
    </script>
{% endblock script %}

