body {
    position: relative;
    margin: 0;
    z-index: 0;
}

body::after {
    background: url("/static/images/bpj-001.jpg");
    background-size: cover;
    content: "";
    opacity: 0.35;
    position: absolute;
    height: 100vh;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}


@media only screen and (max-width: 800px) {
    #sidenav {
        display: none;
    }
}

@media only screen and (min-width: 800px) {
    #sidenav-sm {
        display: none;
    }
}